<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gelo.ceuapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Offenses"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.Offenses" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Navigation_Gif">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.Navigation_Gif" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".North_Gate_Navigation">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.North_Gate_Navigation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cah"
            android:label="@string/title_activity_cah"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.cah" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cdl"
            android:label="@string/title_activity_cdl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.cdl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapel"
            android:label="@string/title_activity_chapel"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.chapel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dcth"
            android:label="@string/title_activity_dcth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.dcth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dent_sci"
            android:label="@string/title_activity_dent_sci"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.dent_sci" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ffh"
            android:label="@string/title_activity_ffh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.ffh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fsh"
            android:label="@string/title_activity_fsh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.fsh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fgh"
            android:label="@string/title_activity_fgh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.fgh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gdlsc"
            android:label="@string/title_activity_gdlsc"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.gdlsc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".isc"
            android:label="@string/title_activity_isc"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.isc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lah"
            android:label="@string/title_activity_lah"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.lah" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvh"
            android:label="@string/title_activity_mvh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.mvh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".north_quad"
            android:label="@string/title_activity_north_quad"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.north_quad" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phlh"
            android:label="@string/title_activity_phlh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.phlh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sac"
            android:label="@string/title_activity_sac"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.sac" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sdvh"
            android:label="@string/title_activity_sdvh"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.sdvh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tech_center"
            android:label="@string/title_activity_tech_center"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.tech_center" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CeuHymn">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.CeuHymn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Information">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.Information" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".listoffenses">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.listoffenses" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chooseenroll"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.chooseenroll" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".enrollmentproc">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.enrollmentproc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".aboutform">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.aboutform" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".othertransac"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.othertransac" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".commencetransac">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.commencetransac" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ceumusic">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.ceumusic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ceuchoosemusic"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.ceuchoosemusic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About_developers"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.About_developers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_hamili"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_hamili" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_umali"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_umali" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_wu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_wu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_tan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_tan" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_buenaventura"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_buenaventura" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developer_viril"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.developer_viril" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about_developers2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.about_developers2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Disclaimer">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.Disclaimer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DevelperPage">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.DevelperPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ceuboard">
            <intent-filter>
                <action android:name="com.gelo.ceuapp.ceuboard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>

